# YAML see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
name: BuildWheels

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.repository }}
  cancel-in-progress: true

jobs:
  clear-cache:
    name: clear-cache
    runs-on: ubuntu-latest
    steps:
      - name: setup python for clear-cache
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: clear
        #if: github.event.repository.name == 'rlbidi'
        env:
          CITOOLS_USER: "${{secrets.CITOOLS_USER}}"
          CITOOLS_PASSWORD: "${{secrets.CITOOLS_PASSWORD}}"
        run: |
            python -mpip install --no-cache https://hg.reportlab.com/hg-public/rl-ci-tools/archive/tip.tar.gz -U
            python -mrl_ci_tools clear-cache "${{ github.event.repository.name }}"
            echo "cleared remote cache for ${{ github.event.repository.name }}"
  build-wheels-linux-mac:
    needs: [clear-cache]
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      CIBW_TEST_SKIP: "*"
      CIBW_TEST_COMMAND: ""
      CIBW_BUILD_VERBOSITY: 3
      CIBW_PRERELEASE_PYTHONS: True
      RL_CACHE_DIR: "/tmp/${{github.event.repository.name}}"
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-13, macos-14]
        #os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-13, macos-14]

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.23.2
        env:
          SETUP_VERBOSE: 3
          CIBW_BUILD: cp313-*
          CIBW_ARCHS_LINUX: ${{ runner.arch == 'X64' && 'auto ppc64le s390x' || 'auto armv7l' }}

      - uses: actions/upload-artifact@v4
        with:
          name: "${{ github.event.repository.name }}-${{ matrix.os }}-${{ strategy.job-index }}"
          path: ./wheelhouse/*.whl

      - name: upload wheels
        env:
          CITOOLS_USER: "${{secrets.CITOOLS_USER}}"
          CITOOLS_PASSWORD: "${{secrets.CITOOLS_PASSWORD}}"
        run: |
          python -mpip install --no-cache https://hg.reportlab.com/hg-public/rl-ci-tools/archive/tip.tar.gz -U
          python -mrl_ci_tools upload-caches --subdir='${{ github.event.repository.name }}' --verbosity=1 ./wheelhouse/*.whl
          python -mrl_ci_tools env-upload

  build-wheels-windows:
    needs: [clear-cache]
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      CIBW_TEST_SKIP: "*"
      CIBW_TEST_COMMAND: ""
      CIBW_BUILD_VERBOSITY: 3
      CIBW_PRERELEASE_PYTHONS: True
      RL_CACHE_DIR: "/tmp/${{github.event.repository.name}}"
    strategy:
      fail-fast: true
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - uses: ilammy/msvc-dev-cmd@v1.13.0

      - name: Build 64 bit wheel
        uses: pypa/cibuildwheel@v2.23.2
        env:
          SETUP_VERBOSE: 3
          CIBW_BUILD: cp313*-win_amd64
          DISTUTILS_USE_SDK: 1
          MSSdk: 1

      - uses: ilammy/msvc-dev-cmd@v1.13.0
        with:
          arch: x86

      - name: Build 32 bit wheel
        uses: pypa/cibuildwheel@v2.23.2
        env:
          SETUP_VERBOSE: 3
          CIBW_BUILD: cp313*-win32
          DISTUTILS_USE_SDK: 1
          MSSdk: 1

      - uses: actions/upload-artifact@v4
        with:
          name: "${{ github.event.repository.name }}-${{ matrix.os }}-${{ strategy.job-index }}"
          path: ./wheelhouse/*.whl

      - name: upload wheels
        env:
          CITOOLS_USER: "${{secrets.CITOOLS_USER}}"
          CITOOLS_PASSWORD: "${{secrets.CITOOLS_PASSWORD}}"
        run: |
          python -mpip install --no-cache https://hg.reportlab.com/hg-public/rl-ci-tools/archive/tip.tar.gz -U
          python -mrl_ci_tools upload-caches --subdir='${{ github.event.repository.name }}' --verbosity=1 ./wheelhouse/*.whl
          python -mrl_ci_tools env-upload

  email:
    name: email
    needs: [build-wheels-linux-mac, build-wheels-windows]
    runs-on: ubuntu-latest
    steps:
      - name: setup python for upload
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: email confirmation
        env:
          CITOOLS_USER: "${{secrets.CITOOLS_USER}}"
          CITOOLS_PASSWORD: "${{secrets.CITOOLS_PASSWORD}}"
        run: |
            python -mpip install --no-cache https://hg.reportlab.com/hg-public/rl-ci-tools/archive/tip.tar.gz -U
            BODY="$(python -mrl_ci_tools cache-info --subdir='${{ github.event.repository.name }}' '*.whl')"
            NUPLOADS=$(expr $(echo "$BODY" | wc -l) - 1)
            SUBJECT="$NUPLOADS ${{ github.event.repository.name }} wheels uploaded to our pypi/caches/${{ github.event.repository.name }} folder by github"
            python -mrl_ci_tools email --subject="$SUBJECT" --body="$BODY"
            echo "$SUBJECT"
            echo "$BODY"
